header {
    background-image: url(img/denna.png);
    background-color: rgb(167, 42, 167);
    padding: 20px;
    text-align: center;
    margin: 0;
    color: white;
}
body {
    background-color: rgb(167, 42, 167);
    font-family: Arial, sans-serif;
  }



li:hover {
    background-color: #480248;
}

li {
    border: 1px solid #ffffff;
    padding: 10px;
    background-color: rgb(167, 42, 167);
    width: 250px;
    display: inline-block;
    margin-right: 20px;
}

#main-nav {
    margin-top: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; 
}


section {
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 20px;
    border-radius: 8px; 
}


h1.title, h2.subtitle {
    margin: 10px 0; 
}

h2 {
    color: white; 
}

img {
    max-width: 100%;
    height: auto;
}
