header {
    background-image: url(img/matrix.png);
    background-color: #02a02a;
    padding: 20px;
    text-align: center;
    margin: 0;
    color: white;
}
body {
    background-color: green;
  }



li:hover {
    background-color: #044908;
}

li {
    border: 1px solid #ffffff;
    padding: 10px;
    background-color: #45a049;
    width: 250px;
    display: inline-block;
    margin-right: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}
